:root {
  --background-color: #f2f9ff;
  --main-color: #f1991c;
  --main-color-hover: #f1991cdb;
  --main-color-soft: #f1981c1c;
  --main-text-color: #a8b2d1;
  --active-text-color: #eb631e;
  --active-text-color-hover: #eb621edb;
  --active-text-color-soft: #eb631e1c;
  --inactive-text-color: #c0b099;
  --inactive-text-color-soft: #49567067;
  --text-color: #ffffff;
  --transp-color: transparent;
  --error-color: #ff5a5f;
  --error-color-soft: #e15a5f40;
  --error-color-border: #bd393b;
  --success-color: #7ac43d;
  --success-color-soft: #7ac43d40;
  --success-color-border: #38a319;
  --user-color: #40b2fc;
  --user-color-soft: #40b2fc40;
  --user-color-border: #0091d8;
  --font-text: "Montserrat Alternates", sans-serif;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-text);
  overflow-x: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  max-height: 1050px;
  border-radius: 10px;
  background-color: var(--text-color);
  box-shadow: 2px 2px 5px 1px rgba(0 0 0 / 0.3);
}

/* Buttons */
button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  outline: none;
  transition: background-color 0.5s ease;
}

button:hover {
  cursor: pointer;
  background-color: var(--active-text-color);
  box-shadow: 2px 2px 5px 1px rgba(0 0 0 / 0.3);
}

.btn {
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-increaseNumerator,
.btn-decreaseNumerator {
  background-color: var(--active-text-color);
  transition: all 0.3s ease;
}

.btn-increaseNumerator:hover,
.btn-decreaseNumerator:hover {
  background-color: var(--active-text-color-hover);
}

.btn-increaseDenominator,
.btn-decreaseDenominator {
  background-color: var(--main-color);
}

.btn-increaseDenominator:hover,
.btn-decreaseDenominator:hover {
  background-color: var(--main-color-hover);
}

.fraction__button,
.verify__button {
  height: 40px;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 20px;
  font-family: var(--font-text);
}

button:disabled,
.btn:disabled {
  background-color: var(--inactive-text-color);
  box-shadow: none;
  cursor: auto;
}

/* fraction section*/
.fraction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fraction__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0 1.5rem 0;
  border-bottom: 2px solid var(--active-text-color-hover);
}
@media screen and (max-width: 480px) {
  .fraction__top {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  .fraction__top > span {
    text-align: center;
  }
}

.fraction__response {
  transition: opacity 0.75s ease, visibility 0.75s ease;
  padding: 0.25rem;
  width: 40px;
  height: 85px;
  padding: 1.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fraction__response-numerator,
.fraction__response-denominator {
  font-weight: 700;
  font-size: 2rem;
}
.fraction__response-numerator {
  color: var(--active-text-color);
}

.fraction__response-denominator {
  text-align: center;
  width: 100%;
  border-top: 2.5px solid black;
  color: var(--main-color);
}

/* canvas container section */
.canvas__container {
  position: relative;
  margin: 1.5rem auto 0 auto;
  width: 500px;
  height: 100px;
  transition: opacity 0.75s ease, visibility 0.75s ease;
}

#canvas-user {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.75s ease, visibility 0.75s ease;
}

#canvas-user.is-hidden {
  opacity: 0;
  visibility: hidden;
}

#canvas-success,
#canvas-error {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease, visibility 1.5s ease;
}

#canvas-error.is-visible,
#canvas-success.is-visible {
  opacity: 1;
  visibility: visible;
}

#canvas-success.is-visible {
  animation: scale-up 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s 2 alternate
    both;
}

#canvas-error.is-visible {
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s both;
}

/* buttons control */
.numerator-denominator-control {
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--active-text-color-hover);
}

.numerator,
.denominator {
  width: 25%;
  padding: 1rem;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 300px) {
  .numerator-denominator-control {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .numerator,
  .denominator {
    width: 70%;
  }
}

.numerator {
  background-color: var(--active-text-color-soft);
  border: 1px solid var(--active-text-color);
  border-radius: 5px;
}

.denominator {
  background-color: var(--main-color-soft);
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.numerator__title,
.denominator__title {
  padding: 0.25rem;
  border-radius: 27px;
}

.numerator__title {
  border: 1px solid var(--active-text-color);
  background-color: var(--active-text-color);
  color: var(--text-color);
}

.denominator__title {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-color);
}

/* verify section */
.verify {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 0 0 0;
}

@media screen and (max-width: 480px) {
  .verify {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.toggle-fade-in {
  visibility: visible;
  opacity: 1;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2 alternate-reverse;
}

/* animations */
@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

@keyframes fade-in {
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
